
/* Estilos padrão */
.one-filter {
  margin-top: -405px;
  position: absolute;
  font-size: 23px;
  margin-left: 550px;
  animation: slideIn 1s ease forwards; 
  transition: color 0.3s ease; /* Adiciona transição suave */

}

.one-filter:hover {
  color: #7f00b2; /* Cor do ícone ao passar o mouse */
  
}

.one-filter.active {
  color: #00A8EF; /* Cor do ícone quando estiver ativo */
}




.two-filter {
  margin-top: -405px;
  position: absolute;
  font-size: 23px;
  margin-left: 605px;
  animation: slideIn 1s ease forwards;
  transition: color 0.3s ease; /* Adiciona transição suave */

}

.two-filter:hover {
  color: #7f00b2; /* Cor do ícone ao passar o mouse */
}





.container-skills {

    padding: 30px;
    background-color: transparent;


}

@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.container-skills h1 {

    font-size: 35px;
    position: absolute;
    margin-top: -5px;
    background: linear-gradient(to right, #00A8EF, #7f00b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideIn 1s ease forwards; 
    margin-left: 510px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-frontend {
  width: 400px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 190px;
  height: 365px;
  background-color: #333;
  animation: slideIn 0.5s ease forwards; 
}




@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Desliza para cima */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.container-frontend h1 {
    
    font-size: 35px;
    background: linear-gradient(to right, #00A8EF, #7f00b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 120px;
}

/* ------ Icons Frontend --------*/

/*------------------------------CSS HTML--------------------------*/
.html-icon {
  margin-top: -8px;
  position: absolute;
  font-size: 40px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.html-icon:hover {
  color: #7f00b2; 
}

.icon-with-nivel-html{

  position: absolute;
  margin-top: 120px;
}

.nivel-text-html {

  position: absolute;
  margin-top: 2px;
  margin-left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/*----------------------------------------------------------------------*/



/*------------------------------CSS CSS--------------------------*/
.css-icon{

  
  position: absolute;
  font-size: 40px;
  margin-top: -7px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.css-icon:hover {
  color: #7f00b2; 
}

.icon-with-nivel-css{

  position: absolute;
  margin-top: 185px;
}

.nivel-text-css {

  position: absolute;
  margin-top: 2px;
  margin-left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/*-----------------------------------------------------------------------------------*/

/*----------------------CSS JavaScript-----------------------------------------------*/
.js-icon{


  position: absolute;
  font-size: 40px;
  margin-top: -5px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

.js-icon:hover {
  color: #7f00b2; /* Define a cor quando o mouse está sobre o ícone */
}

.icon-with-nivel-js{

  position: absolute;
  margin-top: 50px;
}

.nivel-text-js {

  position: absolute;
  margin-top: 2px;
  margin-left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


/*----------------------------------------------------------------------------------------------*/


/*----------------------------------CSS React Icons --------------------------------------------*/
.react-icon{

  position: absolute;
  font-size: 40px;
  margin-top: -10px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.react-icon:hover {
  color: #7f00b2;
}

/*-----------------------------------------------------------------------------------------------------*/


.vue-icon{

  position: absolute;
  font-size: 40px;
  margin-top: -3px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.vue-icon:hover {
  color: #7f00b2; 
}

.icon-with-nivel {
  position: absolute;
  display: inline-block;
  
}

.icon-with-nivel-vue{

  position: absolute;
  margin-top: 240px;
}

.container-backend {

  width: 400px;
  border-radius: 10px;
  margin-top: -365px;
  position: absolute;
  margin-left: 650px;
  background-color: #333;
  height: 365px;
  animation: slideIn 0.5s ease forwards;
}

.container-backend h1 {

  font-size: 35px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 120px;
  margin-top: -1px;
  position: absolute;
}

.backend-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.nivel-text {
  font-size: 12px;
  margin-top: 5px;
}

/*---------------------Java Icon---------------------*/
.java-icon  {

  font-size: 40px;
  margin-top: 58px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color:#00A8EF;
  transition: color 0.3s ease;
  margin-left: -140px; 
}

.java-icon:hover {
  color: #7f00b2; 
}

/*---------------------------------------------*/

/*-------------------------Flask Icon------------*/
.flask-icon{
  font-size: 40px;
  margin-top: 125px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color:#00A8EF;
  transition: color 0.3s ease;
  margin-left: -140px;
}

.flask-icon:hover {
  color: #7f00b2; 
}

/*----------------------------------------------------*/

/*------------------------DJango Icon-----------------*/
.django-icon{

  font-size: 40px;
  margin-top: 195px;
  margin-left: -140px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.django-icon:hover {
  color: #7f00b2; 
}

/*-----------------------------------------------------*/

.mongodb-icon {

  font-size: 40px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color:#00A8EF;
  margin-left: -140px;
  margin-top: 270px;
  transition: color 0.3s ease;


}


.mongodb-icon:hover {
  color: #7f00b2; 
}

/*---------------------------------- Balls Experience Frontend ------------------------------------*/

.nivel-experiencia {
  position: absolute;
  top: 5px; /* Ajuste conforme necessário para posicionar as bolinhas corretamente */
  left: 120px; /* Ajuste conforme necessário para posicionar as bolinhas corretamente */
  display: flex;
  align-items: center;
}

.bolinha {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00000038; /* Cor padrão das bolinhas */
  margin-right: 5px;
  /* Adiciona transição suave para a mudança de cor */
}

.marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text {

  margin-left: 240px;
  margin-top: 2px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}












/* Java Styles*/

.backend-java-nivel-experiencia {
  display: flex;
  align-items: center;
}

.backend-java-bolinha,
.backend-java-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 70px;
  transition: background-color 0.3s ease; /* Adiciona transição suave para a mudança de cor */
}

.nivel-text-java {

  margin-left: 50px;
  margin-top: 70px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.backend-java-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-java-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.backend-java-nivel-experiencia {
  display: flex;
  align-items: center;
}




/* Django Styles*/

.backend-flask-bolinha,
.backend-flask-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 135px;
}

.backend-flask-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-flask-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-flask{
  position: absolute;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 135px;
}







/* Django Styles*/

.backend-django-bolinha,
.backend-django-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 203px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-django-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-django-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-django{

  position: absolute;
  margin-left: 150px;
  margin-top: 205px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*MongoDB Styles*/

.backend-mongodb-bolinha,
.backend-mongodb-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 280px;
  transition: background-color 0.3s ease;
}

.backend-mongodb-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-mongodb-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-mongodb {

  position: absolute;
  margin-left: 50px;
  margin-top: 280px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}











.container-devops {

  width: 400px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 190px;
  height: 365px;
  background-color: #333;
  animation: slideIn 0.5s ease forwards;
  overflow-y: auto;
}

.container-devops::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.container-devops::-webkit-scrollbar-thumb {
  background-color: #7f00b2; /* Cor do polegar da barra de rolagem */
  border-radius: 10px; /* Raio do polegar da barra de rolagem */
}

.container-devops::-webkit-scrollbar-track {
  background-color: #333; /* Cor do fundo da barra de rolagem */
}


.container-devops h1 {  

  font-size: 35px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 120px;
  margin-top: 5px;
}


.docker-icon {
  position: absolute;
  font-size: 50px;
  margin-top: -15px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.docker-icon:hover {
  color: #7f00b2; 
}

.backend-docker-bolinha,
.backend-docker-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 65px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-docker-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.nivel-text-docker{

  position: absolute;
  margin-left: 250px;
  margin-top: -2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.backend-django-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}




.kubernetes-icon {

  position: absolute;
  font-size: 40px;
  margin-top: 55px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */

}

.kubernetes-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}

.backend-kubernetes-bolinha,
.backend-kubernetes-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 135px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-kubernetes-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.nivel-text-kubernetes{

  position: absolute;
  margin-left: 250px;
  margin-top: 68px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}




.backend-django-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.nivel-text-yaml {

position: absolute;
margin-left: 250px;
margin-top: 140px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.yaml-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 130px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */

}

.yaml-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}

.backend-yaml-bolinha,
.backend-yaml-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 208px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-yaml-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-django-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.github-actions-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 205px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}


.github-actions-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}

.backend-github-actions-bolinha,
.backend-github-actions-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 285px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-github-actions-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-github-actions-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-github-actions{

position: absolute;
margin-left: 250px;
margin-top: 218px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.backend-terraform-bolinha,
.backend-terraform-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 365px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-terraform-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-terraform-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.terraform-icon {

  position: absolute;
  font-size: 40px;
  margin-top: 285px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */

}

.terraform-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}

.nivel-text-terraform{

  position: absolute;
margin-left: 250px;
margin-top: 299px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.backend-jenkins-bolinha,
.backend-jenkins-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 445px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-jenkins-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-jenkins-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-jenkins{

position: absolute;
margin-left: 250px;
margin-top: 380px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.jenkins-icon {

  position: absolute;
  font-size: 40px;
  margin-top: 365px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */

}

.jenkins-icon:hover {
  color: #7f00b2; 
}


.backend-git-bolinha,
.backend-git-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 525px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-git-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-git-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.git-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 445px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */


}

.git-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}
.nivel-text-git{

position: absolute;
margin-left: 250px;
margin-top: 460px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}


.container-data-science{
  width: 400px;
  border-radius: 10px;
  margin-top: -365px;
  position: absolute;
  margin-left: 650px;
  background-color: #333;
  height: 365px;
  overflow-y: auto;
  animation: slideIn 0.5s ease forwards;
}

.container-data-science h1 {  

  font-size: 35px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 90px;
  margin-top: 5px;
}

.container-data-science::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.container-data-science::-webkit-scrollbar-thumb {
  background-color: #7f00b2; /* Cor do polegar da barra de rolagem */
  border-radius: 10px; /* Raio do polegar da barra de rolagem */
}

.container-data-science::-webkit-scrollbar-track {
  background-color: #333; /* Cor do fundo da barra de rolagem */
}

.python-icon{

  position: absolute;
  font-size: 40px;
  margin-top: -15px;
  margin-left: 50px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.python-icon:hover {
  color: #7f00b2;
}

.spark-icon{

  position: absolute;
  font-size: 80px;
  margin-top: 25px;
  margin-left: 35px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.spark-icon:hover {
  color: #7f00b2;
}

.mysql-icon{

  position: absolute;
  font-size: 60px;
  margin-top: 105px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.mysql-icon:hover {
  color: #7f00b2;
}

.apache-hadoop-icon{

  position: absolute;
  font-size: 60px;
  margin-top: 195px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease;

}

.apache-hadoop-icon:hover {
  color: #7f00b2;
}

.postgresql-icon{

  position: absolute;
  font-size: 60px;
  margin-top: 275px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.postgresql-icon:hover {
  color: #7f00b2;
}

.powerbi-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 375px;
  margin-left: 55px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.powerbi-icon:hover {
  color: #7f00b2;
}