
/* Estilos padrão */
.one-filter {
  margin-top: -405px;
  position: absolute;
  font-size: 23px;
  margin-left: 550px;
  animation: slideIn 1s ease forwards; 
  transition: color 0.3s ease;
  cursor: pointer;

}

.one-filter:hover {
  color: #7f00b2; /* Cor do ícone ao passar o mouse */
  
}

.one-filter.active {
  color: #00A8EF; /* Cor do ícone quando estiver ativo */
}




.two-filter {
  margin-top: -405px;
  position: absolute;
  font-size: 23px;
  margin-left: 605px;
  animation: slideIn 1s ease forwards;
  transition: color 0.3s ease;
  cursor: pointer;

}

.two-filter:hover {
  color: #7f00b2; /* Cor do ícone ao passar o mouse */
}

.three-filter{

  margin-top: -405px;
  position: absolute;
  font-size: 23px;
  margin-left: 660px;
  animation: slideIn 1s ease forwards;
  transition: color 0.3s ease;
  cursor: pointer;
}

.three-filter:hover {
  color: #7f00b2; 
  
}

.three-filter.active {
  color: #00A8EF; /* Cor do ícone quando estiver ativo */
}



.container-skills {

    padding: 30px;
    background-color: transparent;


}

@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.container-skills h1 {

    font-size: 35px;
    position: absolute;
    margin-top: -5px;
    background: linear-gradient(to right, #00A8EF, #7f00b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideIn 1s ease forwards; 
    margin-left: 510px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-frontend {
  width: 400px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 190px;
  height: 365px;
  background-color: #333;
  animation: slideIn 0.5s ease forwards; 
}



@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Desliza para cima */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.container-frontend h1 {
    
    font-size: 35px;
    background: linear-gradient(to right, #00A8EF, #7f00b2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 120px;
}

/* ------ Icons Frontend --------*/

/*------------------------------CSS HTML--------------------------*/
.html-icon {
  margin-top: -8px;
  position: absolute;
  font-size: 40px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.html-icon:hover {
  color: #7f00b2; 
}

.icon-with-nivel-html{

  position: absolute;
  margin-top: 120px;
}

.nivel-text-html {

  position: absolute;
  margin-top: 2px;
  margin-left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/*----------------------------------------------------------------------*/



/*------------------------------CSS CSS--------------------------*/
.css-icon{

  
  position: absolute;
  font-size: 40px;
  margin-top: -7px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.css-icon:hover {
  color: #7f00b2; 
}

.icon-with-nivel-css{

  position: absolute;
  margin-top: 185px;
}

.nivel-text-css {

  position: absolute;
  margin-top: 2px;
  margin-left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

/*-----------------------------------------------------------------------------------*/

/*----------------------CSS JavaScript-----------------------------------------------*/
.js-icon{


  position: absolute;
  font-size: 40px;
  margin-top: -5px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

.js-icon:hover {
  color: #7f00b2; /* Define a cor quando o mouse está sobre o ícone */
}

.icon-with-nivel-js{

  position: absolute;
  margin-top: 50px;
}

.nivel-text-js {

  position: absolute;
  margin-top: 2px;
  margin-left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


/*----------------------------------------------------------------------------------------------*/


/*----------------------------------CSS React Icons --------------------------------------------*/
.react-icon{

  position: absolute;
  font-size: 40px;
  margin-top: -10px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.react-icon:hover {
  color: #7f00b2;
}

/*-----------------------------------------------------------------------------------------------------*/


.vue-icon{

  position: absolute;
  font-size: 40px;
  margin-top: -3px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.vue-icon:hover {
  color: #7f00b2; 
}

.icon-with-nivel {
  position: absolute;
  display: inline-block;
  
}

.icon-with-nivel-vue{

  position: absolute;
  margin-top: 240px;
}

.nivel-text-vue {
  
  position: absolute;
  margin-top: 2px;
  margin-left: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.help-backend{

  position: absolute;
  margin-left: 375px;
  margin-top: 8px;
  font-size: 23px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.help-backend:hover {
  color: #7f00b2; /* Cor do ícone ao passar o mouse */
}



.container-backend {

  width: 400px;
  border-radius: 10px;
  margin-top: -365px;
  position: absolute;
  margin-left: 650px;
  background-color: #333;
  height: 365px;
  animation: slideIn 0.5s ease forwards;
}

.container-backend h1 {

  font-size: 35px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 120px;
  margin-top: -1px;
  position: absolute;
}

.backend-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.nivel-text {
  font-size: 12px;
  margin-top: 5px;
}

/*---------------------Java Icon---------------------*/
.node-icon  {

  font-size: 40px;
  margin-top: 58px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color:#00A8EF;
  transition: color 0.3s ease;
  margin-left: -140px; 
}

.node-icon:hover {
  color: #7f00b2; 
}

/*---------------------------------------------*/

/*-------------------------Flask Icon------------*/
.flask-icon{
  font-size: 40px;
  margin-top: 125px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color:#00A8EF;
  transition: color 0.3s ease;
  margin-left: -140px;
}

.flask-icon:hover {
  color: #7f00b2; 
}

/*----------------------------------------------------*/

/*------------------------DJango Icon-----------------*/
.django-icon{

  font-size: 40px;
  margin-top: 195px;
  margin-left: -140px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.django-icon:hover {
  color: #7f00b2; 
}

/*-----------------------------------------------------*/

.mongodb-icon {

  font-size: 40px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color:#00A8EF;
  margin-left: -140px;
  margin-top: 270px;
  transition: color 0.3s ease;


}


.mongodb-icon:hover {
  color: #7f00b2; 
}

/*---------------------------------- Balls Experience Frontend ------------------------------------*/

.nivel-experiencia {
  position: absolute;
  top: 5px; /* Ajuste conforme necessário para posicionar as bolinhas corretamente */
  left: 120px; /* Ajuste conforme necessário para posicionar as bolinhas corretamente */
  display: flex;
  align-items: center;
}

.bolinha {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00000038; /* Cor padrão das bolinhas */
  margin-right: 5px;
  /* Adiciona transição suave para a mudança de cor */
}

.marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text {

  margin-left: 240px;
  margin-top: 2px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}












/* Java Styles*/

.backend-node-nivel-experiencia {
  display: flex;
  align-items: center;
}

.backend-node-bolinha,
.backend-node-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 70px;
  transition: background-color 0.3s ease; /* Adiciona transição suave para a mudança de cor */
}

.nivel-text-node {

  margin-left: 50px;
  margin-top: 70px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.backend-node-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-node-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.backend-node-nivel-experiencia {
  display: flex;
  align-items: center;
}




/* Django Styles*/

.backend-flask-bolinha,
.backend-flask-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 135px;
}

.backend-flask-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-flask-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-flask{
  position: absolute;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 135px;
}







/* Django Styles*/

.backend-django-bolinha,
.backend-django-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 203px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-django-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-django-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-django{

  position: absolute;
  margin-left: 150px;
  margin-top: 205px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*MongoDB Styles*/

.backend-mongodb-bolinha,
.backend-mongodb-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 280px;
  transition: background-color 0.3s ease;
}

.backend-mongodb-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-mongodb-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-mongodb {

  position: absolute;
  margin-left: 50px;
  margin-top: 280px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}











.container-devops {

  width: 400px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 190px;
  height: 365px;
  background-color: #333;
  animation: slideIn 0.5s ease forwards;
  overflow-y: auto;
}

.container-devops::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.container-devops::-webkit-scrollbar-thumb {
  background-color: #7f00b2; /* Cor do polegar da barra de rolagem */
  border-radius: 10px; /* Raio do polegar da barra de rolagem */
}

.container-devops::-webkit-scrollbar-track {
  background-color: #333; /* Cor do fundo da barra de rolagem */
}


.container-devops h1 {  

  font-size: 35px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 120px;
  margin-top: 5px;
}


.docker-icon {
  position: absolute;
  font-size: 50px;
  margin-top: -15px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 
}

.docker-icon:hover {
  color: #7f00b2; 
}

.backend-docker-bolinha,
.backend-docker-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 65px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-docker-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.nivel-text-docker{

  position: absolute;
  margin-left: 250px;
  margin-top: -2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.backend-django-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.kubernetes-icon {

  position: absolute;
  font-size: 40px;
  margin-top: 55px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */

}

.kubernetes-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}

.backend-kubernetes-bolinha,
.backend-kubernetes-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 135px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-kubernetes-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.nivel-text-kubernetes{

  position: absolute;
  margin-left: 250px;
  margin-top: 68px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}




.backend-django-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.nivel-text-yaml {

position: absolute;
margin-left: 250px;
margin-top: 140px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.yaml-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 130px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */

}

.yaml-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}

.backend-yaml-bolinha,
.backend-yaml-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 208px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-yaml-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-django-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.github-actions-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 205px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}


.github-actions-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}

.backend-github-actions-bolinha,
.backend-github-actions-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 285px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-github-actions-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-github-actions-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-github-actions{

position: absolute;
margin-left: 250px;
margin-top: 218px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.backend-terraform-bolinha,
.backend-terraform-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 365px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-terraform-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-terraform-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.terraform-icon {

  position: absolute;
  font-size: 40px;
  margin-top: 285px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */

}

.terraform-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}

.nivel-text-terraform{

  position: absolute;
margin-left: 250px;
margin-top: 299px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.backend-jenkins-bolinha,
.backend-jenkins-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 445px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-jenkins-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-jenkins-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-jenkins{

position: absolute;
margin-left: 250px;
margin-top: 380px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.jenkins-icon {

  position: absolute;
  font-size: 40px;
  margin-top: 365px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */

}

.jenkins-icon:hover {
  color: #7f00b2; 
}


.backend-git-bolinha,
.backend-git-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 525px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-git-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-git-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.git-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 445px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease; 


}

.git-icon:hover {
  color: #7f00b2; /* Adiciona uma transição suave para a mudança de cor */
}
.nivel-text-git{

position: absolute;
margin-left: 250px;
margin-top: 460px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
background: linear-gradient(to right, #00A8EF, #7f00b2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}


.container-data-science{
  
  width: 400px;
  border-radius: 10px;
  margin-top: -365px;
  position: absolute;
  margin-left: 650px;
  background-color: #333;
  height: 365px;
  overflow-y: auto;
  animation: slideIn 0.5s ease forwards;
}

.container-data-science h1 {  

  font-size: 35px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 90px;
  margin-top: 5px;
}

.container-data-science::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.container-data-science::-webkit-scrollbar-thumb {
  background-color: #7f00b2; /* Cor do polegar da barra de rolagem */
  border-radius: 10px; /* Raio do polegar da barra de rolagem */
}

.container-data-science::-webkit-scrollbar-track {
  background-color: #333; /* Cor do fundo da barra de rolagem */
}

.python-icon{

  position: absolute;
  font-size: 40px;
  margin-top: -15px;
  margin-left: 50px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.python-icon:hover {
  color: #7f00b2;
}
.backend-python-bolinha,
.backend-python-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5  px;
  margin-top: 61px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-python-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-python-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-python{

  position: absolute;
  margin-left: 250px;
  margin-top: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.spark-icon{

  position: absolute;
  font-size: 80px;
  margin-top: 25px;
  margin-left: 35px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.spark-icon:hover {
  color: #7f00b2;
}

.backend-spark-bolinha,
.backend-spark-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 125px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-spark-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-spark-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-spark{

  position: absolute;
  margin-left: 250px;
  margin-top: 58px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



.mysql-icon{

  position: absolute;
  font-size: 60px;
  margin-top: 105px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.mysql-icon:hover {
  color: #7f00b2;
}

.backend-mysql-bolinha,
.backend-mysql-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 195px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-mysql-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-mysql-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}
.nivel-text-mysql{

  position: absolute;
  margin-left: 250px;
  margin-top: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



.apache-hadoop-icon{

  position: absolute;
  font-size: 60px;
  margin-top: 195px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease;

}

.apache-hadoop-icon:hover {
  color: #7f00b2;
}

.backend-hadoop-bolinha,
.backend-hadoop-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 280px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-hadoop-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-hadoop-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-apache-hadoop{

  position: absolute;
  margin-left: 250px;
  margin-top: 215px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.postgresql-icon{

  position: absolute;
  font-size: 60px;
  margin-top: 275px;
  margin-left: 45px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.postgresql-icon:hover {
  color: #7f00b2;
}

.backend-postgresql-bolinha,
.backend-postgresql-bolinha-marcada {

  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 360px;
  transition: background-color 0.3s ease; /* Transição de cor suave */

}

.backend-postgresql-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-postgresql-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-postgresql{

  position: absolute;
  margin-left: 250px;
  margin-top: 295px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.powerbi-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 375px;
  margin-left: 55px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.powerbi-icon:hover {
  color: #7f00b2;
}

.backend-powerbi-bolinha,
.backend-powerbi-bolinha-marcada {

  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 450px;
  transition: background-color 0.3s ease; /* Transição de cor suave */

}

.backend-powerbi-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-powerbi-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-powerbi{

  position: absolute;
  margin-left: 250px;
  margin-top: 385px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.container-aws-cloud{

  width: 400px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 190px;
  height: 365px;
  background-color: #333;
  animation: slideIn 0.5s ease forwards;
  overflow-y: auto;

}

.container-aws-cloud h1 {

  font-size: 35px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 97px;
  margin-top: 5px;

}


.container-aws-cloud::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.container-aws-cloud::-webkit-scrollbar-thumb {
  background-color: #7f00b2; /* Cor do polegar da barra de rolagem */
  border-radius: 10px; /* Raio do polegar da barra de rolagem */
}

.container-aws-cloud::-webkit-scrollbar-track {
  background-color: #333; /* Cor do fundo da barra de rolagem */
}

.ec2-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 5px;
  margin-left: 50px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.ec2-icon:hover {
  color: #7f00b2;
}

.backend-ec2-bolinha,
.backend-ec2-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 80px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-ec2-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-ec2-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-ec2{

  margin-left: 250px;
  margin-top: 14px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.s3-icon{

  position: absolute;
  font-size: 35px;
  margin-top: 75px;
  margin-left: 50px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.s3-icon:hover {
  color: #7f00b2;
}

.backend-s3-bolinha,
.backend-s3-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 148px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-s3-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-s3-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-s3{

  margin-left: 250px;
  margin-top: 83px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.rds-icon:hover {
  color: #7f00b2;
}

.rds-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 145px;
  margin-left: 46px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.backend-rds-bolinha,
.backend-rds-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 224px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-rds-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-rds-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-rds{

  margin-left: 250px;
  margin-top: 158px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.dynamodb-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 220px;
  margin-left: 50px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.dynamodb-icon:hover {
  color: #7f00b2;
}

.backend-dynamodb-bolinha,
.backend-dynamodb-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 298px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-dynamodb-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-dynamodb-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-dynamodb{

  margin-left: 250px;
  margin-top: 233px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sqs-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 293px;
  margin-left: 46px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.sqs-icon:hover {
  color: #7f00b2;
}

.backend-sqs-bolinha,
.backend-sqs-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 370px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-sqs-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-sqs-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-sqs{

  margin-left: 250px;
  margin-top: 305px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.lambda-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 375px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.lambda-icon:hover {
  color: #7f00b2;
}

.backend-lambda-bolinha,
.backend-lambda-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 450px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-lambda-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-lambda-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-lambda{

  margin-left: 250px;
  margin-top: 385px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.ecs-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 460px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.ecs-icon:hover {
  color: #7f00b2;
}

.backend-ecs-bolinha,
.backend-ecs-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 535px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-ecs-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-ecs-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-ecs{

  margin-left: 250px;
  margin-top: 468px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.eks-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 545px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.eks-icon:hover {
  color: #7f00b2;
}

.backend-eks-bolinha,
.backend-eks-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 620px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-eks-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-eks-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-eks{

  margin-left: 250px;
  margin-top: 554px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.fargate-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 626px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.fargate-icon:hover {
  color: #7f00b2;
}

.backend-fargate-bolinha,
.backend-fargate-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 700px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-fargate-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-fargate-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-fargate{

  margin-left: 250px;
  margin-top: 635px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.vpc-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 708px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.vpc-icon:hover {
  color: #7f00b2;
}

.backend-vpc-bolinha,
.backend-vpc-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 785px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-vpc-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-vpc-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.nivel-text-vpc{

  margin-left: 250px;
  margin-top: 720px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.sns-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 790px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.sns-icon:hover {
  color: #7f00b2;
}

.backend-sns-bolinha,
.backend-sns-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 867px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-sns-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-sns-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.nivel-text-sns{

  margin-left: 250px;
  margin-top: 800px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.route53-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 875px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.route53-icon:hover {
  color: #7f00b2;
}

.backend-route53-bolinha,
.backend-route53-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 948px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-route53-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-route53-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-route53{

  margin-left: 250px;
  margin-top: 883px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.redshift-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 950px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.redshift-icon:hover {
  color: #7f00b2;
}

.backend-redshift-bolinha,
.backend-redshift-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 1025px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-redshift-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-redshift-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.nivel-text-redshift{

  margin-left: 250px;
  margin-top: 960px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.apigateway-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 1030px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.apigateway-icon:hover {
  color: #7f00b2;
}

.backend-apigateway-bolinha,
.backend-apigateway-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 1105px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-apigateway-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-apigateway-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.nivel-text-apigateway{

  margin-left: 250px;
  margin-top: 1040px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.cloudwatch-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 1110px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.cloudwatch-icon:hover {
  color: #7f00b2;
}


.backend-cloudwatch-bolinha,
.backend-cloudwatch-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 1185px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-cloudwatch-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-cloudwatch-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}


.nivel-text-cloudwatch{

  margin-left: 250px;
  margin-top: 1120px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.iam-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 1180px;
  margin-left: 43px;
  color:#00A8EF;
  transition: color 0.3s ease;
}


.iam-icon:hover {
  color: #7f00b2;
}

.backend-iam-bolinha,
.backend-iam-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 1257px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-iam-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-iam-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-iam{

  margin-left: 250px;
  margin-top: 1192px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.container-other-tools{

  width: 400px;
  border-radius: 10px;
  margin-top: -365px;
  position: absolute;
  margin-left: 650px;
  background-color: #333;
  height: 365px;
  overflow-y: auto;
  animation: slideIn 0.5s ease forwards;
}

.container-other-tools h1 {

  font-size: 35px;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 97px;
  margin-top: 5px;
}

.linux-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 5px;
  margin-left: 55px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.linux-icon:hover {
  color: #7f00b2;
}

.backend-linux-bolinha,
.backend-linux-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 75px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-linux-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-linux-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-linux{
  margin-left: 250px;
  margin-top: 10px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.bash-icon{

  position: absolute;
  font-size: 40px;
  margin-top: 75px;
  margin-left: 55px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.bash-icon:hover {
  color: #7f00b2;
}


.backend-bash-bolinha,
.backend-bash-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 155px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-bash-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-bash-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-bash{

  margin-left: 250px;
  margin-top: 88px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cassandra-icon{

  position: absolute;
  font-size: 60px;
  margin-top: 140px;
  margin-left: 50px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.cassandra-icon:hover {
  color: #7f00b2;
}


.backend-cassandra-bolinha,
.backend-cassandra-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 225px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-cassandra-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-cassandra-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-cassandra{

  margin-left: 250px;
  margin-top: 160px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.oracle-icon{

  position: absolute;
  font-size: 55px;
  margin-top: 205px;
  margin-left: 53px;
  color:#00A8EF;
  transition: color 0.3s ease;
}

.oracle-icon:hover {
  color: #7f00b2;
}

.backend-oracle-bolinha,
.backend-oracle-bolinha-marcada {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 290px;
  transition: background-color 0.3s ease; /* Transição de cor suave */
}

.backend-oracle-bolinha {
  background-color: #00000038; /* Cor padrão das bolinhas */
}

.backend-oracle-bolinha-marcada {
  background-color: #7f00b2; /* Cor das bolinhas marcadas */
}

.nivel-text-oracle{

  margin-left: 250px;
  margin-top: 225px;
  position: absolute;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #00A8EF, #7f00b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  margin-left: 250px;
}
