/* App.css Global Customization */

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.dark-mode {
  background-color: #222;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #222;
}


.icon-container {
  margin-left: 960px;
  width: 100px;
  transform: translateX(-50%);
  margin-top: -145px;
  position: absolute;
  z-index: 1; /* Garante que o container esteja acima do botão */
}


.icon {
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  margin: 0 10px;
  z-index: 1; /* Garante que o ícone esteja acima do botão */
  position: relative; /* Define a posição como relativa */
}

.icon.active {
  color: #d0ff00; 
}


/* CSS-Button*/
.toggle-button {
  background-color: transparent; 
  border: 2px solid transparent; 
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  margin-top: -155px;
  margin-left: 910px;
  transition: background-color 0.3s; 
  position: absolute;
  overflow: visible;
  pointer-events: none; /* Desativa a interação com o botão */
}

.icon-container .icon {
  position: relative;
  z-index: 2;
}

.toggle-button::before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #00A8EF, #7f00b2); 
  z-index: 0;
}

.toggle-button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

